@import "elr-scss-functions/src/main";
@import "elr-scss-config/src/main";

@mixin elr-calendar($config: ()) {
  $config: extend(
    (
      border-radius: $border-radius,
      main-color: $primary-color,
      secondary-color: $secondary-color,
      text-color: $text-color,
      background-color: $white,
      holiday-color: $secondary-color,
    ),
    $config
  );

  $border-radius: map-get($config, border-radius);
  $main-color: map-get($config, main-color);
  $secondary-color: map-get($config, secondary-color);
  $text-color: map-get($config, text-color);
  $background-color: map-get($config, background-color);
  $holiday-color: map-get($config, holiday-color);

  h4 {
    font-size: $base-fontsize * 1.5;
    font-weight: 900;
    color: $main-color;
    border-bottom: $border;
    margin-bottom: $base-fontsize * 0.5;
    padding-bottom: $base-fontsize * 0.5;
  }

  .pager {
    display: flex;
    margin-bottom: $base-fontsize * 2;

    button {
      margin-right: $base-fontsize * 0.5;
    }
  }

  .calendar {
    max-width: $tablet-width;

    .calendar-heading {
      display: flex;
    }

    .heading-day {
      flex: 1;
      padding: $base-fontsize * 0.5;
      border: 0;
      font-weight: 900;
      font-size: 14px;
    }

    .week {
      display: flex;

      &:first-of-type {
        .day:first-child {
          border-radius: $border-radius 0 0 0;
        }

        .day:last-child {
          border-radius: 0 $border-radius 0 0;
        }
      }

      &:last-of-type {
        .day {
          border-bottom: $border;
        }

        .day:first-child {
          border-radius: 0 0 0 $border-radius;
        }

        .day:last-child {
          border-radius: 0 0 $border-radius 0;
        }
      }
    }

    .date-label {
      font-size: 12px;
    }

    .day {
      min-height: 130px;
      // flex-basis: 130px;
      flex: 1;
      aspect-ratio: 1;
      padding: $base-fontsize * 0.5;
      border: $border;
      border-bottom: 0;
      border-right: 0;
      background-color: $white;

      &:last-of-type {
        border-right: $border;
      }

      &.inactive-date {
        background-color: $background-light;
      }

      &.cal-holiday {
        background-color: $primary-color-light;
        color: $white;

        li {
          color: $white;
        }
      }

      &.cal-muted {
        background-color: $lightest-gray;
      }

      // &.cal-weekend {
      //   background-color: $main-color;
      // }

      ul {
        margin: ($base-fontsize * 0.5) 0;
        padding: 0;
      }

      ul li {
        list-style: none;
        font-size: 14px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
